In [1]:
#Dependencies
import pandas as pd
import requests
import json

from keys import key1
from keys import key2
from keys import key3

In [2]:
#Merging city list with zillow data

#Read in data set with cities and coordinates
cities_LL = pd.read_csv("Resources/P1_cities_LL.csv")
cities_LL.head()

           City         State   Latitude   Longitude
0      New York      New York  40.712775  -74.005973
1   Los Angeles    California  34.052234 -118.243685
2       Chicago      Illinois  41.878114  -87.629798
3       Houston         Texas  29.760427  -95.369803
4  Philadelphia  Pennsylvania  39.952584  -75.165222

In [4]:
#Read in zillow data
zillow_data = pd.read_csv("Resources/Zillow_3Yrs_Home_Sale_Cnts.csv")
zillow_data.head()

,City,State,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,New York,New York,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,4356.0,5164.0,...,3466,3652,3475,3900,4491,4270,4181.0,4231.0,3865.0,3931.0
1,Los Angeles,California,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,3046.0,3480.0,...,2151,2533,2650,2501,2683,2762,2339.0,2595.0,2280.0,2391.0
2,Houston,Texas,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,3437.0,3130.0,...,3287,3617,3892,3512,3697,3424,2808.0,2981.0,2697.0,3340.0
3,Chicago,Illinois,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,4374.0,4818.0,...,2730,3196,3700,3545,3616,3618,2934.0,2925.0,2172.0,2864.0
4,San Antonio,Texas,1546.0,1617.0,2229.0,1894.0,2639.0,2539.0,2295.0,2381.0,...,1992,2136,2382,2242,2301,2234,1789.0,1919.0,1518.0,1873.0

In [5]:
#Merge data
comb_data = pd.merge(cities_LL, zillow_data, on=["City", "State"])
comb_data.head(10)

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,3466,3652,3475,3900,4491,4270,4181.0,4231.0,3865.0,3931.0
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,2151,2533,2650,2501,2683,2762,2339.0,2595.0,2280.0,2391.0
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,2730,3196,3700,3545,3616,3618,2934.0,2925.0,2172.0,2864.0
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,3287,3617,3892,3512,3697,3424,2808.0,2981.0,2697.0,3340.0
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,1958,2177,2680,2269,2476,2505,2182.0,2337.0,1935.0,2180.0
5,Phoenix,Arizona,33.448377,-112.074037,2662.0,2786.0,3748.0,3395.0,4001.0,3950.0,...,3376,3725,3904,3566,3612,3577,3199.0,3186.0,2863.0,2924.0
6,San Antonio,Texas,29.424122,-98.493628,1546.0,1617.0,2229.0,1894.0,2639.0,2539.0,...,1992,2136,2382,2242,2301,2234,1789.0,1919.0,1518.0,1873.0
7,San Diego,California,32.715738,-117.161084,1024.0,1046.0,1465.0,1406.0,1637.0,1721.0,...,1211,1380,1543,1431,1526,1479,1308.0,1354.0,1181.0,1268.0
8,Dallas,Texas,32.776664,-96.796988,892.0,943.0,1371.0,1357.0,1507.0,1484.0,...,1060,1219,1410,1232,1424,1267,1142.0,1237.0,1113.0,1314.0
9,San Jose,California,37.338208,-121.886329,469.0,521.0,731.0,777.0,884.0,962.0,...,708,766,817,679,733,742,599.0,692.0,621.0,568.0

In [6]:
#Output merged data for review and to create smaller files for API calls
output_data_file = "resources/check_cities.csv"
comb_data.to_csv(output_data_file, index=False, header=True)

In [13]:
#Conduct remaining API calls for weather data with smaller data sets for call and key limitations

#Data for API Call 2 - Group 1 data
#read in data set with cities, coordinates, and zillow data
cities_df = pd.read_csv("Resources/cities_group1.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities_df[f"{mon}_temp"] = ""
    cities_df[f"{mon}_precip"] = ""
    cities_df[f"{mon}_humid"] = ""
    cities_df[f"{mon}_cloud"] = ""

cities_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Newport News,Virginia,37.087082,-76.473012,110.0,126.0,224.0,195.0,219.0,220.0,...,,,,,,,,,,
1,Brownsville,Texas,25.901747,-97.497484,115.0,127.0,146.0,144.0,163.0,152.0,...,,,,,,,,,,
2,Overland Park,Kansas,38.982228,-94.670792,185.0,160.0,272.0,253.0,367.0,420.0,...,,,,,,,,,,
3,Santa Clarita,California,34.391664,-118.542586,214.0,226.0,337.0,269.0,389.0,443.0,...,,,,,,,,,,
4,Providence,Rhode Island,41.823989,-71.412834,NaN,NaN,NaN,NaN,NaN,166.0,...,,,,,,,,,,

In [16]:
#API Call 2 (6/21/20) - Group 1 data
key = key2

    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 37.0870821, -76.4730122:
Extracting results for 25.9017472, -97.4974838:
Extracting results for 38.9822282, -94.6707917:
Extracting results for 34.3916641, -118.542586:
Extracting results for 41.8239891, -71.4128343:
Extracting results for 33.774269200000006, -117.9379952:
Extracting results for 35.0456297, -85.3096801:
Extracting results for 33.1958696, -117.3794834:
Extracting results for 32.298757300000005, -90.1848103:
Extracting results for 26.1224386, -80.13731740000001:
Extracting results for 38.440429, -122.7140548:
Extracting results for 34.10639889999999, -117.5931084:
Extracting results for 33.4255104, -111.9400054:
Extracting results for 34.0633443, -117.6508876:
Extracting results for 45.6257379, -122.6760886:
Extracting results for 26.5628537, -81.94953309999998:
Extracting results for 37.20895720000001, -93.2922989:
Extracting results for 33.5805955, -112.2373779:
Extracting results for 26.007765, -80.2962555:
Extracting results for 38.4087993, -121.3716178:
Extracting results for 44.9428975, -123.0350963:
Extracting results for 34.6867846, -118.1541632:
Extracting results for 33.8752935, -117.5664384:
Extracting results for 44.0520691, -123.08675359999998:
Extracting results for 34.5794343, -118.11646129999998:
Extracting results for 36.6777372, -121.6555013:
Extracting results for 42.1014831, -72.589811:
Extracting results for 29.6910625, -95.2091006:
Extracting results for 40.5852602, -105.084423:
Extracting results for 37.6687665, -122.08099640000002:
Extracting results for 34.055103, -117.7499909:
Extracting results for 35.79154000000001, -78.78111690000001:
Extracting results for 42.2711311, -89.09399520000002:
Extracting results for 38.8048355, -77.0469214:
Extracting results for 33.1192068, -117.086421:
Extracting results for 33.1983388, -96.6389342:
Extracting results for 39.11553139999999, -94.6267873:
Extracting results for 41.525031, -88.0817251:
Extracting results for 37.36883, -122.0363496:
Extracting results for 33.83584920000001, -118.3406288:
Extracting results for 41.1792258, -73.18943840000001:
Extracting results for 39.7047095, -105.08137340000002:
Extracting results for 26.0112014, -80.1494901:
Extracting results for 40.9167654, -74.17181099999998:
Extracting results for 41.7508391, -88.15353520000002:
Extracting results for 43.0481221, -76.14742439999998:
Extracting results for 32.76679550000001, -96.5991593:
Extracting results for 39.7589478, -84.1916069:
Extracting results for 32.0808989, -81.09120300000002:
Extracting results for 36.5297706, -87.3594528:
Extracting results for 33.7879139, -117.8531007:
Extracting results for 34.1477849, -118.1445155:
Extracting results for 33.8703645, -117.9242123:
Extracting results for 31.1171194, -97.7277959:
Extracting results for 33.1506744, -96.82361159999999:
Extracting results for 37.0298687, -76.34522179999998:
Extracting results for 26.203407100000003, -98.2300124:
Extracting results for 42.5144566, -83.01465259999998:
Extracting results for 47.6101497, -122.2015159:
Extracting results for 40.691613200000006, -112.0010501:
Extracting results for 34.0007104, -81.0348144:
Extracting results for 38.8813958, -94.8191285:
Extracting results for 42.5803122, -83.0302033:
Extracting results for 41.308274, -72.9278835:
Extracting results for 25.9860762, -80.30356019999998:
Extracting results for 31.549333, -97.1466695:
Extracting results for 34.1705609, -118.8375937:
Extracting results for 41.9778795, -91.6656232:
Extracting results for 32.776474900000004, -79.93105120000001:
Extracting results for 36.3302284, -119.2920585:
Extracting results for 39.0473451, -95.67515759999999:
Extracting results for 40.6639916, -74.2107006:
Extracting results for 29.6516344, -82.32482619999998:
Extracting results for 39.8680412, -104.9719243:
Extracting results for 38.7521235, -121.28800590000002:
Extracting results for 32.975641499999995, -96.8899636:
Extracting results for 26.271192, -80.27060440000002:
Extracting results for 41.0534302, -73.53873409999999:
Extracting results for 34.2694474, -118.781482:
Extracting results for 37.9779776, -122.0310733:
Extracting results for 41.76580429999999, -72.6733723:
Extracting results for 47.38093350000001, -122.2348432:
Extracting results for 30.2240897, -92.0198427:
Extracting results for 31.9973456, -102.0779146:
Extracting results for 33.62923370000001, -112.3679279:
Extracting results for 33.2148412, -97.13306829999999:
Extracting results for 34.5362184, -117.2927641:
Extracting results for 37.9715592, -87.5710898:
Extracting results for 37.3541079, -121.9552356:
Extracting results for 32.4487364, -99.73314390000002:
Extracting results for 38.1040864, -122.25663670000002:
Extracting results for 40.6022939, -75.4714098:
Extracting results for 35.2225668, -97.4394777:
Extracting results for 30.080174, -94.1265562:
Extracting results for 39.0911161, -94.4155068:
Extracting results for 35.8456213, -86.39027:
Extracting results for 42.2808256, -83.7430378:
Extracting results for 39.78172130000001, -89.6501481:
Extracting results for 37.87152260000001, -122.273042:

In [17]:
#output data Group 1
output_data_file = "resources/P1_cities_WD_G1.csv"
cities_df.to_csv(output_data_file, index=False, header=True)

In [18]:
#Data for API Call 3 - Group 2 data
#read in data set with cities, coordinates, and zillow data
cities2_df = pd.read_csv("Resources/cities_group2.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities2_df[f"{mon}_temp"] = ""
    cities2_df[f"{mon}_precip"] = ""
    cities2_df[f"{mon}_humid"] = ""
    cities2_df[f"{mon}_cloud"] = ""

cities2_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Provo,Utah,40.233844,-111.658534,82.0,90.0,120.0,118.0,126.0,142.0,...,,,,,,,,,,
1,El Monte,California,34.068621,-118.027567,41.0,22.0,49.0,40.0,50.0,41.0,...,,,,,,,,,,
2,Columbia,Missouri,38.951705,-92.334072,116.0,112.0,203.0,236.0,347.0,305.0,...,,,,,,,,,,
3,Lansing,Michigan,42.732535,-84.555535,221.0,171.0,231.0,249.0,298.0,355.0,...,,,,,,,,,,
4,Downey,California,33.940109,-118.133159,53.0,58.0,76.0,64.0,73.0,78.0,...,,,,,,,,,,

In [19]:
#API Call 3 (6/21/20) - Group 2 data 
key = key2
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities2_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities2_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities2_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities2_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities2_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 40.2338438, -111.6585337:
Extracting results for 34.0686206, -118.0275667:
Extracting results for 38.95170529999999, -92.3340724:
Extracting results for 42.732535, -84.55553470000002:
Extracting results for 33.9401088, -118.1331593:
Extracting results for 33.6638439, -117.9047429:
Extracting results for 34.2103894, -77.88681170000002:
Extracting results for 39.8027644, -105.0874842:
Extracting results for 33.9616801, -118.3531311:
Extracting results for 25.9420377, -80.2456045:
Extracting results for 33.158093300000004, -117.3505939:
Extracting results for 39.8366528, -105.03720459999998:
Extracting results for 44.0121221, -92.4801989:
Extracting results for 31.8456816, -102.3676431:
Extracting results for 42.99563970000001, -71.4547891:
Extracting results for 42.0354084, -88.2825668:
Extracting results for 40.6096698, -111.9391031:
Extracting results for 30.508255100000003, -97.678896:
Extracting results for 27.9658533, -82.8001026:
Extracting results for 41.55815250000001, -73.0514965:
Extracting results for 45.5098502, -122.4347608:
Extracting results for 38.2491956, -122.04051509999998:
Extracting results for 45.783285600000006, -108.5006904:
Extracting results for 42.633424700000006, -71.31617179999998:
Extracting results for 38.2544472, -104.6091409:
Extracting results for 35.95569229999999, -80.0053176:
Extracting results for 34.0686208, -117.93895259999998:
Extracting results for 37.9357576, -122.3477486:
Extracting results for 33.553914299999995, -117.2139232:
Extracting results for 42.3736158, -71.10973349999998:
Extracting results for 38.0049214, -121.805789:
Extracting results for 33.4936391, -117.1483648:
Extracting results for 33.9022367, -118.081733:
Extracting results for 39.5807452, -104.8771726:
Extracting results for 47.9789848, -122.2020795:
Extracting results for 28.03446210000001, -80.5886646:
Extracting results for 33.91370850000001, -98.4933873:
Extracting results for 44.51331879999999, -88.0132958:
Extracting results for 37.6879241, -122.47020790000002:
Extracting results for 34.18083920000001, -118.30896609999998:
Extracting results for 32.948333500000004, -96.7298519:
Extracting results for 26.2378597, -80.1247667:
Extracting results for 32.8771106, -80.01305140000002:
Extracting results for 36.060949, -95.7974526:
Extracting results for 40.0149856, -105.2705456:
Extracting results for 26.7153424, -80.0533746:
Extracting results for 34.95303370000001, -120.4357191:
Extracting results for 32.7947731, -116.9625269:
Extracting results for 41.5236437, -90.5776367:
Extracting results for 34.1064001, -117.3703235:
Extracting results for 32.3199396, -106.7636538:
Extracting results for 37.56299170000001, -122.3255254:
Extracting results for 33.046233, -96.994174:
Extracting results for 41.6763545, -86.25198979999998:
Extracting results for 28.0394654, -81.9498042:
Extracting results for 42.12922409999999, -80.085059:
Extracting results for 32.351260100000005, -95.3010624:
Extracting results for 29.5635666, -95.2860474:
Extracting results for 30.627977, -96.3344068:
Extracting results for 42.5847425, -87.82118539999998:
Extracting results for 33.9304352, -84.3733147:
Extracting results for 36.8252277, -119.7029194:
Extracting results for 43.0125274, -83.6874562:
Extracting results for 37.2709704, -79.9414266:
Extracting results for 42.65257929999999, -73.7562317:
Extracting results for 33.8958492, -118.2200712:
Extracting results for 31.4637723, -100.4370375:
Extracting results for 45.5272177, -122.9360906:
Extracting results for 47.4796927, -122.2079218:
Missing field/result...skipping.
Extracting results for 33.2000368, -117.2425355:
Missing field/result...skipping.
Extracting results for 26.0764783, -80.25211569999998:
Missing field/result...skipping.
Extracting results for 40.42331420000001, -104.7091322:
Missing field/result...skipping.
Extracting results for 33.5968913, -117.6581562:
Missing field/result...skipping.
Extracting results for 36.8354258, -76.29827420000002:
Missing field/result...skipping.
Extracting results for 42.3222599, -83.17631449999998:
Missing field/result...skipping.
Extracting results for 33.954737, -118.2120161:
Missing field/result...skipping.
Extracting results for 33.2098407, -87.56917349999998:
Missing field/result...skipping.
Extracting results for 42.36837, -83.35270969999998:
Missing field/result...skipping.
Extracting results for 41.6362152, -70.93420499999998:
Missing field/result...skipping.
Extracting results for 38.3565773, -121.9877444:
Missing field/result...skipping.
Extracting results for 42.08343350000001, -71.0183787:
Missing field/result...skipping.
Extracting results for 34.0232431, -84.36155550000002:
Missing field/result...skipping.
Extracting results for 45.4888761, -122.8013771:
Missing field/result...skipping.
Extracting results for 42.25287720000001, -71.0022705:
Missing field/result...skipping.
Extracting results for 39.5349112, -119.7526886:
Missing field/result...skipping.
Extracting results for 46.6020711, -120.5058987:
Missing field/result...skipping.
Extracting results for 47.3223221, -122.3126222:
Missing field/result...skipping.
Extracting results for 33.8316745, -118.281693:
Missing field/result...skipping.
Extracting results for 34.01945429999999, -118.4911912:
Missing field/result...skipping.
Extracting results for 34.4263886, -117.3008784:
Missing field/result...skipping.
Extracting results for 33.1031744, -96.67055030000002:
Missing field/result...skipping.
Extracting results for 35.2327544, -106.6630437:
Missing field/result...skipping.
Extracting results for 32.6926512, -114.6276916:
Missing field/result...skipping.
Extracting results for 33.75917570000001, -117.9897058:
Missing field/result...skipping.
Extracting results for 40.2968979, -111.69464750000002:
Missing field/result...skipping.
Extracting results for 42.46676300000001, -70.9494938:
Missing field/result...skipping.
Extracting results for 40.5865396, -122.3916754:
Missing field/result...skipping.
Extracting results for 47.6732281, -117.2393748:
Missing field/result...skipping.
Extracting results for 25.790654, -80.1300455:
Missing field/result...skipping.

In [20]:
#Output data Group 2
output_data_file = "resources/P1_cities_WD_G2.csv"
cities2_df.to_csv(output_data_file, index=False, header=True)

In [21]:
#Data for API Call 4 - Group 3 data
#read in data set with cities, coordinates, and zillow data
cities3_df = pd.read_csv("Resources/cities_group3.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities3_df[f"{mon}_temp"] = ""
    cities3_df[f"{mon}_precip"] = ""
    cities3_df[f"{mon}_humid"] = ""
    cities3_df[f"{mon}_cloud"] = ""

cities3_df.head()

,Unnamed: 0,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,1,Peoria,Illinois,40.693649,-89.588986,122.0,97.0,170.0,161.0,179.0,...,,,,,,,,,,
1,2,Renton,Washington,47.479693,-122.207922,140.0,127.0,189.0,182.0,251.0,...,,,,,,,,,,
2,3,Vista,California,33.200037,-117.242536,81.0,98.0,123.0,98.0,133.0,...,,,,,,,,,,
3,4,Davie,Florida,26.076478,-80.252116,114.0,105.0,161.0,148.0,167.0,...,,,,,,,,,,
4,5,Greeley,Colorado,40.423314,-104.709132,115.0,96.0,133.0,154.0,141.0,...,,,,,,,,,,

In [22]:
#API Call 4 (6/21/20) - Group 3 data
key = key3
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities3_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities3_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities3_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities3_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities3_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 40.6936488, -89.58898640000001:
Extracting results for 47.4796927, -122.2079218:
Extracting results for 33.2000368, -117.2425355:
Extracting results for 26.076478299999998, -80.2521157:
Extracting results for 40.42331420000001, -104.7091322:
Extracting results for 33.596891299999996, -117.6581562:
Extracting results for 36.835425799999996, -76.29827420000001:
Extracting results for 42.3222599, -83.1763145:
Extracting results for 33.954737, -118.21201609999999:
Extracting results for 33.2098407, -87.5691735:
Extracting results for 42.36837, -83.3527097:
Extracting results for 41.6362152, -70.934205:
Extracting results for 38.3565773, -121.98774440000001:
Extracting results for 42.083433500000005, -71.0183787:
Extracting results for 34.0232431, -84.36155550000001:
Extracting results for 45.4888761, -122.8013771:
Extracting results for 42.25287720000001, -71.0022705:
Extracting results for 39.5349112, -119.7526886:
Extracting results for 46.6020711, -120.5058987:
Extracting results for 47.3223221, -122.3126222:
Extracting results for 33.8316745, -118.28169299999999:
Extracting results for 34.01945429999999, -118.4911912:
Extracting results for 34.4263886, -117.3008784:
Extracting results for 33.1031744, -96.6705503:
Extracting results for 35.2327544, -106.66304369999999:
Extracting results for 32.6926512, -114.62769159999999:
Extracting results for 33.75917570000001, -117.9897058:
Extracting results for 40.2968979, -111.69464750000002:
Extracting results for 42.466763, -70.9494938:
Extracting results for 40.5865396, -122.3916754:
Extracting results for 47.6732281, -117.2393748:
Extracting results for 25.790654, -80.1300455:
Extracting results for 29.5074538, -95.0949303:
Extracting results for 38.971668900000004, -95.23525009999999:
Extracting results for 34.4208305, -119.69819009999999:
Extracting results for 26.1275862, -80.23310359999999:
Extracting results for 40.564978100000005, -111.8389726:
Extracting results for 26.1669711, -80.25659499999999:
Extracting results for 40.167206799999995, -105.10192749999999:
Extracting results for 26.3683064, -80.1289321:
Extracting results for 33.1433723, -117.1661449:
Extracting results for 35.612660999999996, -77.3663538:
Extracting results for 42.3636331, -87.84479379999999:
Extracting results for 41.7014912, -71.1550451:
Extracting results for 39.728494399999995, -121.8374777:
Extracting results for 42.337041299999996, -71.2092214:
Extracting results for 37.7257663, -122.1568554:
Extracting results for 40.335648299999995, -75.9268747:
Extracting results for 35.385924200000005, -94.39854749999999:
Extracting results for 33.618882899999996, -117.9298493:
Extracting results for 35.5950581, -82.5514869:
Extracting results for 42.7653662, -71.467566:
Extracting results for 35.6528323, -97.4780954:
Extracting results for 33.97917929999999, -118.032844:
Extracting results for 43.5788175, -116.55978:
Extracting results for 44.840798, -93.29827990000001:
Extracting results for 28.9005446, -81.2636738:
Extracting results for 33.9164032, -118.35257479999999:
Extracting results for 46.7866719, -92.10048520000001:
Extracting results for 39.978371, -86.1180435:
Extracting results for 36.7282054, -76.5835621:
Extracting results for 40.858432799999996, -74.16375529999999:
Extracting results for 38.7071247, -121.2810611:
Extracting results for 37.6818688, -121.7684732:
Extracting results for 37.739581799999996, -121.4260018:
Extracting results for 34.095287, -118.1270146:
Extracting results for 47.6768927, -122.20598329999999:
Extracting results for 40.2205824, -74.75971700000001:
Extracting results for 41.223, -111.9738304:
Extracting results for 33.405386699999994, -86.8113781:
Extracting results for 41.8455877, -87.7539448:
Extracting results for 39.95675479999999, -86.01335:
Extracting results for 29.5984434, -95.6225521:
Extracting results for 43.61210870000001, -116.39151310000001:
Extracting results for 33.7205771, -116.2155619:
Extracting results for 35.4087517, -80.579511:
Extracting results for 33.6971468, -117.185294:
Extracting results for 40.116420399999996, -88.2433829:
Extracting results for 33.8674044, -117.99813870000001:
Extracting results for 42.6064095, -83.1497751:
Extracting results for 34.0289259, -84.19857900000001:
Extracting results for 48.7519112, -122.4786854:
Extracting results for 39.165325, -86.5263857:
Extracting results for 42.4963416, -96.40494079999999:
Extracting results for 41.700100899999995, -71.4161671:
Extracting results for 33.7475203, -116.97196840000001:
Extracting results for 32.5007037, -94.74048909999999:
Extracting results for 42.4989936, -83.3677168:
Extracting results for 44.058172799999994, -121.31530959999999:
Extracting results for 33.853626899999995, -118.13395630000001:
Extracting results for 37.3021632, -120.48296770000002:
Extracting results for 26.2159066, -98.3252932:
Extracting results for 34.0122346, -117.68894399999999:
Extracting results for 37.4852152, -122.2363548:
Extracting results for 26.3017374, -98.1633432:
Extracting results for 41.7798226, -71.4372796:
Extracting results for 41.404774200000006, -81.72290859999998:
Extracting results for 40.9114882, -73.78235490000002:
Extracting results for 33.6469437, -117.6861023:
Extracting results for 38.2975381, -122.28686499999999:

In [23]:
#Output data Group 3
output_data_file = "resources/P1_cities_WD_G3.csv"
cities3_df.to_csv(output_data_file, index=False, header=True)

In [24]:
#Data for API Call 5 - Group 4 data
#read in data set with cities, coordinates, and zillow data
cities4_df = pd.read_csv("Resources/cities_group4.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities4_df[f"{mon}_temp"] = ""
    cities4_df[f"{mon}_precip"] = ""
    cities4_df[f"{mon}_humid"] = ""
    cities4_df[f"{mon}_cloud"] = ""

cities4_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Hammond,Indiana,41.583369,-87.500041,73.0,56.0,75.0,89.0,77.0,89.0,...,,,,,,,,,,
1,Fayetteville,Arkansas,36.082156,-94.171854,73.0,88.0,132.0,118.0,158.0,181.0,...,,,,,,,,,,
2,Avondale,Arizona,33.435598,-112.349602,165.0,133.0,185.0,150.0,197.0,201.0,...,,,,,,,,,,
3,Somerville,Massachusetts,42.387597,-71.099497,32.0,19.0,32.0,35.0,43.0,80.0,...,,,,,,,,,,
4,Palm Coast,Florida,29.584452,-81.207870,180.0,134.0,260.0,245.0,255.0,317.0,...,,,,,,,,,,

In [26]:
#API Call 5 (6/21/20) - Group 4 data
key = key3
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities4_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities4_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities4_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities4_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities4_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 41.583368799999995, -87.5000412:
Extracting results for 36.082156, -94.1718542:
Extracting results for 33.4355977, -112.3496021:
Extracting results for 42.3875968, -71.0994968:
Extracting results for 29.584452399999996, -81.2078699:
Extracting results for 30.674364299999997, -96.3699632:
Extracting results for 27.909466499999997, -82.7873244:
Extracting results for 45.0941315, -93.3563405:
Extracting results for 33.7420005, -117.82363909999998:
Extracting results for 42.7261309, -87.78285229999999:
Extracting results for 26.318412300000002, -80.0997657:
Extracting results for 37.4137536, -79.1422464:
Extracting results for 37.3860517, -122.08385109999999:
Extracting results for 42.3265152, -122.8755949:
Extracting results for 42.7070354, -71.1631137:
Extracting results for 33.881681799999996, -118.1170117:
Extracting results for 28.0836269, -80.6081089:
Extracting results for 39.9259463, -75.1196199:
Extracting results for 46.2086683, -119.119948:
Extracting results for 34.0852868, -117.96089779999998:
Extracting results for 33.989818799999995, -117.7325848:
Extracting results for 37.7798721, -122.2821855:
Extracting results for 31.578507399999996, -84.155741:
Extracting results for 42.0883603, -87.9806265:
Extracting results for 42.291706899999994, -85.5872286:
Extracting results for 29.735504700000003, -94.97742740000001:
Extracting results for 34.09751, -117.64838759999999:
Extracting results for 36.18674420000001, -94.1288141:
Extracting results for 40.6259316, -75.3704579:
Extracting results for 42.0333607, -88.0834059:
Extracting results for 32.8323225, -79.82842579999999:
Extracting results for 47.307322799999994, -122.22845320000002:
Extracting results for 39.84031470000001, -88.9548001:
Extracting results for 37.7643595, -121.95396159999999:
Extracting results for 37.6604484, -121.87579679999999:
Extracting results for 42.9133602, -85.7053085:
Extracting results for 30.226594899999995, -93.21737579999999:
Extracting results for 45.01051939999999, -93.4555093:
Extracting results for 41.6986416, -88.0683955:
Extracting results for 26.1947962, -98.1836216:
Extracting results for 44.2619309, -88.4153847:
Extracting results for 35.262082, -81.1873005:
Extracting results for 38.6779591, -121.17605829999998:
Extracting results for 42.473368799999996, -83.2218731:
Extracting results for 42.6583661, -83.14993220000001:
Extracting results for 41.6612104, -72.77954190000001:
Extracting results for 33.4353394, -112.3576567:
Extracting results for 40.7989473, -81.378447:
Extracting results for 32.6130007, -83.624201:
Extracting results for 37.5933562, -122.04386090000001:
Extracting results for 33.7825194, -117.22864779999999:
Extracting results for 37.797427299999995, -121.21605259999998:
Extracting results for 41.6611277, -91.5301683:
Extracting results for 35.8422967, -90.704279:
Extracting results for 39.744655, -75.54839090000002:
Extracting results for 33.930293, -118.21146029999998:
Extracting results for 40.397761200000005, -105.0749801:
Extracting results for 41.878710999999996, -71.38255579999999:
Extracting results for 26.531786600000004, -80.0905465:
Extracting results for 43.0116784, -88.2314813:
Extracting results for 30.367419800000004, -89.0928155:
Extracting results for 34.5008311, -117.18587590000001:
Extracting results for 40.8567662, -74.12847640000001:
Extracting results for 44.0805434, -103.2310149:
Extracting results for 41.0602216, -111.9710529:
Extracting results for 40.4167022, -86.8752869:
Extracting results for 37.4945743, -120.84597859999998:
Extracting results for 40.1933767, -85.3863599:
Missing field/result...skipping.
Extracting results for 31.0982344, -97.342782:
Missing field/result...skipping.
Extracting results for 29.6185669, -95.5377215:
Missing field/result...skipping.
Extracting results for 34.055569299999995, -117.1825381:
Missing field/result...skipping.
Extracting results for 35.686975200000006, -105.937799:
Missing field/result...skipping.
Extracting results for 26.1403635, -80.2133808:
Missing field/result...skipping.
Extracting results for 37.4323341, -121.8995741:
Missing field/result...skipping.
Extracting results for 42.1103041, -88.03424:
Missing field/result...skipping.
Extracting results for 46.8721284, -113.9940314:
Missing field/result...skipping.
Extracting results for 34.9248667, -81.02507840000001:
Missing field/result...skipping.
Extracting results for 34.7540524, -77.43024140000001:
Missing field/result...skipping.
Extracting results for 35.9250637, -86.86888990000001:
Missing field/result...skipping.
Extracting results for 35.1982836, -111.651302:
Missing field/result...skipping.
Extracting results for 33.0145673, -97.0969552:
Missing field/result...skipping.
Extracting results for 26.100365399999998, -80.3997748:
Missing field/result...skipping.
Extracting results for 42.492785999999995, -92.3425775:
Missing field/result...skipping.
Extracting results for 40.779545500000005, -74.02375119999999:
Missing field/result...skipping.
Extracting results for 40.9125992, -73.8370786:
Missing field/result...skipping.
Extracting results for 26.640628000000003, -81.87230840000001:
Missing field/result...skipping.
Extracting results for 31.223231300000002, -85.39048879999999:
Missing field/result...skipping.
Extracting results for 38.5890723, -121.302728:
Missing field/result...skipping.
Extracting results for 33.8491816, -118.3884078:
Missing field/result...skipping.
Extracting results for 35.6145169, -88.8139469:
Missing field/result...skipping.
Extracting results for 46.2305049, -119.09223159999999:
Missing field/result...skipping.
Extracting results for 44.811349, -91.4984941:
Missing field/result...skipping.
Extracting results for 32.8342952, -97.22890290000001:
Missing field/result...skipping.
Extracting results for 46.808326799999996, -100.7837392:
Missing field/result...skipping.
Extracting results for 33.8885035, -117.8132571:
Missing field/result...skipping.
Extracting results for 29.9940924, -90.2417434:
Missing field/result...skipping.
Extracting results for 37.9100783, -122.06518190000001:
Missing field/result...skipping.
Extracting results for 39.414268799999995, -77.41054090000002:
Missing field/result...skipping.
Extracting results for 44.024706200000004, -88.5426136:
Missing field/result...skipping.
Extracting results for 38.027976200000005, -121.88468059999998:
Missing field/result...skipping.

In [27]:
#Output data Group 4
output_data_file = "resources/P1_cities_WD_G4.csv"
cities4_df.to_csv(output_data_file, index=False, header=True)

In [2]:
#Data for API Call 6 - Group 5 data
#read in data set with cities, coordinates, and zillow data
cities5_df = pd.read_csv("Resources/cities_group5.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities5_df[f"{mon}_temp"] = ""
    cities5_df[f"{mon}_precip"] = ""
    cities5_df[f"{mon}_humid"] = ""
    cities5_df[f"{mon}_cloud"] = ""

cities5_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Muncie,Indiana,40.193377,-85.386360,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
1,Temple,Texas,31.098234,-97.342782,84.0,95.0,135.0,108.0,132.0,160.0,...,,,,,,,,,,
2,Missouri City,Texas,29.618567,-95.537722,106.0,113.0,158.0,130.0,187.0,175.0,...,,,,,,,,,,
3,Redlands,California,34.055569,-117.182538,73.0,77.0,91.0,78.0,114.0,121.0,...,,,,,,,,,,
4,Santa Fe,New Mexico,35.686975,-105.937799,208.0,174.0,244.0,239.0,284.0,308.0,...,,,,,,,,,,

In [3]:
#API Call 6 (6/22/20) - Group 5 data
key = key1
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities5_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities5_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities5_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities5_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities5_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 40.1933767, -85.3863599:
Extracting results for 31.0982344, -97.342782:
Extracting results for 29.6185669, -95.5377215:
Extracting results for 34.055569299999995, -117.1825381:
Extracting results for 35.686975200000006, -105.937799:
Extracting results for 26.1403635, -80.2133808:
Extracting results for 37.4323341, -121.8995741:
Extracting results for 42.1103041, -88.03424:
Extracting results for 46.8721284, -113.9940314:
Extracting results for 34.9248667, -81.02507840000001:
Extracting results for 34.7540524, -77.43024140000001:
Extracting results for 35.9250637, -86.86888990000001:
Extracting results for 35.1982836, -111.651302:
Extracting results for 33.0145673, -97.0969552:
Extracting results for 26.100365399999998, -80.3997748:
Extracting results for 42.492785999999995, -92.3425775:
Extracting results for 40.779545500000005, -74.02375119999999:
Extracting results for 40.9125992, -73.8370786:
Extracting results for 26.640628000000003, -81.87230840000001:
Extracting results for 31.223231300000002, -85.39048879999999:
Extracting results for 38.5890723, -121.302728:
Extracting results for 33.8491816, -118.3884078:
Extracting results for 35.6145169, -88.8139469:
Extracting results for 46.2305049, -119.09223159999999:
Extracting results for 44.811349, -91.4984941:
Extracting results for 32.8342952, -97.22890290000001:
Extracting results for 46.808326799999996, -100.7837392:
Extracting results for 33.8885035, -117.8132571:
Extracting results for 29.9940924, -90.2417434:
Extracting results for 37.9100783, -122.06518190000001:
Extracting results for 39.414268799999995, -77.41054090000002:
Extracting results for 44.024706200000004, -88.5426136:
Extracting results for 38.027976200000005, -121.88468059999998:
Extracting results for 37.441883399999995, -122.14301950000001:
Extracting results for 32.5159852, -93.7321228:
Extracting results for 43.659099299999994, -70.2568189:
Extracting results for 38.5449065, -121.74051670000001:
Extracting results for 37.654656, -122.40774979999999:
Extracting results for 34.216393700000005, -119.0376023:
Extracting results for 34.769535999999995, -92.2670941:
Extracting results for 42.8142432, -73.93956870000001:
Extracting results for 39.143968900000004, -77.2016062:
Extracting results for 26.190630600000002, -97.69610259999999:
Extracting results for 44.923855200000006, -92.9593797:
Extracting results for 44.804132200000005, -93.1668858:
Extracting results for 39.1404477, -121.6169108:
Extracting results for 45.072464200000006, -93.4557877:
Extracting results for 41.0997803, -80.6495194:
Extracting results for 42.0324025, -87.7416246:
Extracting results for 28.291955699999995, -81.40757099999999:
Extracting results for 36.3134397, -82.35347270000001:
Extracting results for 28.805267399999998, -97.00359820000001:
Extracting results for 33.4273521, -117.61260039999999:
Extracting results for 40.6687141, -74.11430909999999:
Extracting results for 33.5236744, -117.71494380000001:
Extracting results for 40.767323, -74.20486770000001:
Extracting results for 39.0228485, -94.7151865:
Extracting results for 25.468722399999997, -80.4775569:
Extracting results for 39.0839973, -77.1527578:
Extracting results for 26.4614625, -80.07282009999999:
Extracting results for 42.6827885, -89.01872220000001:
Extracting results for 35.0886963, -92.44210109999999:
Extracting results for 33.9830688, -118.09673500000001:
Extracting results for 41.452819, -82.18237459999999:
Extracting results for 34.0165053, -118.11375349999999:
Extracting results for 38.1341477, -121.27221940000001:
Extracting results for 29.7030024, -98.1244531:
Extracting results for 48.0517637, -122.1770818:
Extracting results for 26.2128609, -80.2497707:
Extracting results for 36.961335600000005, -120.0607176:
Extracting results for 30.311876899999998, -95.4560512:
Extracting results for 36.9741171, -122.0307963:
Extracting results for 44.8546856, -93.470786:
Extracting results for 41.1399814, -104.8202462:
Extracting results for 29.2108147, -81.02283309999999:
Extracting results for 34.07537620000001, -84.2940899:
Extracting results for 39.3995008, -84.5613355:
Extracting results for 42.376485200000005, -71.2356113:
Extracting results for 45.1732394, -93.30300629999999:
Extracting results for 42.7762015, -71.0772796:
Extracting results for 42.240871999999996, -83.2696509:
Extracting results for 43.100903, -75.232664:
Extracting results for 42.03078120000001, -93.63191309999999:
Extracting results for 33.931859100000004, -117.94613700000001:

In [4]:
#Output data Group 5
output_data_file = "resources/P1_cities_WD_G5.csv"
cities5_df.to_csv(output_data_file, index=False, header=True)

In [5]:
#Data for API Call 7 - Group 6 data
#read in data set with cities, coordinates, and zillow data
cities6_df = pd.read_csv("Resources/cities_group6.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities6_df[f"{mon}_temp"] = ""
    cities6_df[f"{mon}_precip"] = ""
    cities6_df[f"{mon}_humid"] = ""
    cities6_df[f"{mon}_cloud"] = ""

cities6_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Encinitas,California,33.036987,-117.291982,50.0,43.0,71.0,84.0,95.0,98.0,...,,,,,,,,,,
1,Bowling Green,Kentucky,36.968522,-86.480804,145.0,126.0,179.0,145.0,209.0,215.0,...,,,,,,,,,,
2,Burnsville,Minnesota,44.767742,-93.277723,58.0,54.0,88.0,83.0,120.0,127.0,...,,,,,,,,,,
3,Greenville,South Carolina,34.852618,-82.394010,429.0,377.0,468.0,417.0,476.0,538.0,...,,,,,,,,,,
4,West Des Moines,Iowa,41.563890,-93.759384,90.0,65.0,108.0,130.0,142.0,164.0,...,,,,,,,,,,

In [6]:
#API Call 7 (6/22/20) - Group 6 data
key = key1
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities6_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities6_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities6_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities6_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities6_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 33.0369867, -117.2919818:
Extracting results for 36.9685219, -86.48080429999999:
Extracting results for 44.7677424, -93.27772259999999:
Extracting results for 34.8526176, -82.3940104:
Extracting results for 41.5638902, -93.75938409999999:
Extracting results for 30.505197999999996, -97.82028879999999:
Extracting results for 36.20772879999999, -119.3473379:
Extracting results for 34.0625106, -118.1228476:
Extracting results for 39.4863773, -75.0259637:
Extracting results for 25.890094899999998, -80.18671379999999:
Extracting results for 32.5631924, -97.1416768:
Extracting results for 43.0166806, -88.0070315:
Extracting results for 41.6717648, -72.9492703:
Extracting results for 40.667724799999995, -111.93882579999999:
Extracting results for 42.4250964, -71.066163:
Extracting results for 41.5381535, -72.8070435:
Extracting results for 45.1607987, -93.2349489:
Extracting results for 26.6617635, -80.2683571:
Extracting results for 37.322997799999996, -122.03218229999999:
Extracting results for 44.0462362, -123.02202890000001:
Extracting results for 36.3320196, -94.1185366:
Extracting results for 33.8883487, -118.30896240000001:
Extracting results for 32.6781085, -117.0991967:
Extracting results for 39.0638705, -108.5506486:
Extracting results for 38.7907339, -121.2357828:
Extracting results for 35.913199600000006, -79.05584449999999:
Extracting results for 39.9205411, -105.0866504:
Extracting results for 38.232417, -122.6366524:
Extracting results for 40.5621704, -111.929658:
Extracting results for 39.9242266, -83.8088171:
Extracting results for 47.5052849, -111.30077150000001:
Extracting results for 27.044224, -82.23592540000001:
Extracting results for 47.1717649, -122.51845800000001:
Extracting results for 33.952602, -84.5499327:
Extracting results for 37.9735346, -122.5310874:
Extracting results for 42.4894801, -83.1446485:
Extracting results for 42.03336229999999, -87.88339909999999:
Extracting results for 33.981681200000004, -118.22507250000001:
Extracting results for 32.7678287, -117.02308390000002:
Extracting results for 41.6303103, -87.8539425:
Extracting results for 44.6496868, -93.24271999999999:
Extracting results for 35.339507899999994, -97.48670279999999:
Extracting results for 26.934224600000004, -80.09420870000001:
Extracting results for 43.4926607, -112.0407584:
Extracting results for 42.5022661, -90.6654675:
Extracting results for 35.204532799999996, -89.8739753:
Extracting results for 32.9029017, -96.56388000000001:
Extracting results for 42.48059, -83.47549129999999:
Extracting results for 41.0339862, -73.76290970000001:
Extracting results for 34.139729200000005, -118.0353449:
Extracting results for 47.6739881, -122.12151200000001:
Extracting results for 33.668077200000006, -117.3272615:
Extracting results for 29.187198600000002, -82.14009229999999:
Extracting results for 41.5731442, -87.7932939:
Extracting results for 29.1383165, -80.9956105:
Extracting results for 42.4184296, -71.10616390000001:
Extracting results for 41.719978000000005, -87.7479528:
Extracting results for 35.938210299999994, -77.7905339:
Extracting results for 40.486427, -86.13360329999999:
Extracting results for 26.2517482, -80.17893509999999:
Extracting results for 39.0067768, -76.77913649999999:
Extracting results for 41.8505874, -87.79366850000001:
Extracting results for 35.4495065, -97.39670190000001:
Extracting results for 33.7090212, -117.95440690000001:
Extracting results for 33.370319699999996, -112.58377659999998:
Extracting results for 42.3369816, -83.2732627:
Extracting results for 38.6785157, -121.7732971:
Extracting results for 40.0455917, -86.0085955:
Extracting results for 30.8327022, -83.2784851:
Extracting results for 34.028622600000006, -117.81033670000001:
Extracting results for 39.1836082, -96.5716694:
Extracting results for 32.8383828, -116.97391670000002:
Extracting results for 41.900101, -71.08976740000001:
Extracting results for 28.802861199999995, -81.269453:
Extracting results for 39.6895036, -84.16882740000001:
Extracting results for 40.4862157, -74.4518188:
Extracting results for 34.605925299999996, -86.9833417:
Extracting results for 42.14870429999999, -72.6078672:
Extracting results for 40.1053196, -85.6802541:
Extracting results for 26.244526300000004, -80.206436:
Extracting results for 44.5645659, -123.2620435:
Extracting results for 33.952463, -117.5848025:
Extracting results for 36.06523, -119.0167679:

In [7]:
#Output data Group 6
output_data_file = "resources/P1_cities_WD_G6.csv"
cities6_df.to_csv(output_data_file, index=False, header=True)

In [8]:
#Data for API Call 8 - Group 7 data
#read in data set with cities, coordinates, and zillow data
cities7_df = pd.read_csv("Resources/cities_group7.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities7_df[f"{mon}_temp"] = ""
    cities7_df[f"{mon}_precip"] = ""
    cities7_df[f"{mon}_humid"] = ""
    cities7_df[f"{mon}_cloud"] = ""

cities7_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,West Haven,Connecticut,41.270548,-72.946971,45.0,29.0,44.0,47.0,49.0,44.0,...,,,,,,,,,,
1,Brentwood,California,37.931868,-121.695786,137.0,127.0,173.0,155.0,211.0,226.0,...,,,,,,,,,,
2,Paramount,California,33.889460,-118.159791,16.0,27.0,28.0,16.0,20.0,30.0,...,,,,,,,,,,
3,Grand Forks,North Dakota,47.925257,-97.032855,35.0,23.0,30.0,29.0,71.0,109.0,...,,,,,,,,,,
4,Georgetown,Texas,30.633262,-97.677984,129.0,131.0,158.0,144.0,237.0,231.0,...,,,,,,,,,,

In [9]:
#API Call 8 (6/22/20) - Group 7 data
key = key2
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities7_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities7_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities7_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities7_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities7_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 41.2705484, -72.94697109999998:
Extracting results for 37.931868, -121.6957863:
Extracting results for 33.8894598, -118.15979109999998:
Extracting results for 47.9252568, -97.0328547:
Extracting results for 30.633261800000003, -97.67798420000001:
Extracting results for 47.7559659, -122.3456972:
Extracting results for 42.066416700000005, -87.9372908:
Extracting results for 36.3274502, -119.64568440000001:
Extracting results for 40.514202600000004, -88.99063120000001:
Extracting results for 34.0805651, -118.072846:
Extracting results for 40.3916172, -111.8507662:
Extracting results for 42.862104200000005, -112.45061909999998:
Extracting results for 34.1283442, -117.2086513:
Extracting results for 38.107419799999995, -122.5697032:
Extracting results for 29.884950399999997, -93.939947:
Extracting results for 39.1637984, -119.76740339999999:
Extracting results for 29.8832749, -97.9413941:
Extracting results for 36.304773499999996, -86.6199957:
Extracting results for 41.36837979999999, -82.10764859999999:
Extracting results for 42.408430200000005, -71.0119948:
Extracting results for 30.4548451, -97.62226650000001:
Extracting results for 39.6136578, -86.10665259999999:
Extracting results for 41.154362299999995, -95.9145568:
Extracting results for 41.8661403, -88.1070127:
Extracting results for 33.883992600000006, -84.51437609999999:
Extracting results for 27.3364347, -82.5306527:
Extracting results for 39.0169509, -94.2816148:
Extracting results for 34.0739016, -117.3136547:
Extracting results for 32.8370727, -97.08195409999999:
Extracting results for 39.372212100000006, -104.8560902:
Extracting results for 33.780538799999995, -116.46680359999999:
Extracting results for 36.548434, -82.5618186:
Extracting results for 34.483901, -114.32245479999999:
Extracting results for 30.421309, -87.2169149:
Extracting results for 40.7439905, -74.0323626:
Extracting results for 34.033625, -117.0430865:
Extracting results for 36.910231, -121.7568946:
Extracting results for 46.28042, -119.27519960000001:
Extracting results for 35.7688425, -119.24705359999999:
Extracting results for 42.062991499999995, -88.1227199:
Extracting results for 38.789217, -90.322614:
Extracting results for 33.8710729, -117.86275479999999:
Extracting results for 40.787878799999994, -74.0143064:
Extracting results for 37.7159396, -121.9101221:
Extracting results for 42.5278731, -70.92866090000001:
Extracting results for 40.5067723, -74.2654234:
Extracting results for 42.32115220000001, -85.17971419999999:
Extracting results for 27.4989278, -82.5748194:
Extracting results for 37.0029828, -121.55663729999999:
Extracting results for 41.2306979, -73.064036:
Extracting results for 44.6365107, -123.10592820000001:
Extracting results for 41.7317884, -93.6001278:
Extracting results for 43.8137751, -91.2519017:
Extracting results for 36.0956918, -79.43779909999999:
Extracting results for 44.9211836, -93.46874890000001:
Extracting results for 41.6819935, -85.9766671:
Extracting results for 41.481993200000005, -81.7981908:
Extracting results for 34.136118700000004, -117.86533899999999:
Extracting results for 34.99185870000001, -90.0022958:
Extracting results for 38.3498195, -81.6326234:
Extracting results for 37.0842271, -94.513281:
Extracting results for 36.3955891, -97.8783911:
Extracting results for 26.839609600000003, -80.10191440000001:
Extracting results for 33.8650186, -84.33712659999999:
Extracting results for 40.6337136, -74.40737359999999:
Extracting results for 40.92639570000001, -98.34201180000001:
Extracting results for 33.7222445, -116.37445559999999:
Extracting results for 35.410694, -80.8428504:
Extracting results for 45.4186785, -122.7872475:
Extracting results for 38.9536174, -94.7335709:
Extracting results for 43.419469899999996, -83.9508068:
Extracting results for 42.8694731, -85.6447492:
Extracting results for 25.8195424, -80.3553302:
Extracting results for 44.7319094, -93.21772:
Extracting results for 32.9342919, -97.07806540000001:
Extracting results for 33.5684605, -117.7262981:
Extracting results for 47.616268299999994, -122.0355736:
Extracting results for 32.9110027, -111.7733902:
Extracting results for 27.8428025, -82.6995443:
Extracting results for 42.7284117, -73.69178509999999:
Extracting results for 38.5804609, -121.53023400000001:
Extracting results for 47.46683839999999, -122.3405305:
Extracting results for 39.8083196, -104.9338675:
Extracting results for 32.5093109, -92.1193012:

In [10]:
#Output data Group 7
output_data_file = "resources/P1_cities_WD_G7.csv"
cities7_df.to_csv(output_data_file, index=False, header=True)

In [11]:
#Data for API Call 9 - Group 8 data
#read in data set with cities, coordinates, and zillow data
cities8_df = pd.read_csv("Resources/cities_group8.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities8_df[f"{mon}_temp"] = ""
    cities8_df[f"{mon}_precip"] = ""
    cities8_df[f"{mon}_humid"] = ""
    cities8_df[f"{mon}_cloud"] = ""

cities8_df.head()

,City,State,Latitude,Longitude,WD?,2017-01,2017-02,2017-03,2017-04,2017-05,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Cerritos,California,33.858348,-118.064787,1,24.0,31.0,33.0,38.0,39.0,...,,,,,,,,,,
1,Downers Grove,Illinois,41.808919,-88.011175,2,94.0,64.0,110.0,99.0,144.0,...,,,,,,,,,,
2,Coral Gables,Florida,25.749197,-80.263541,3,57.0,70.0,80.0,117.0,105.0,...,,,,,,,,,,
3,Wilson,North Carolina,35.721269,-77.915540,4,48.0,46.0,82.0,64.0,94.0,...,,,,,,,,,,
4,Niagara Falls,New York,43.096214,-79.037739,5,53.0,47.0,67.0,64.0,60.0,...,,,,,,,,,,

In [12]:
#API Call 9 (6/22/20) - Group 8 data
key = key2
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities8_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities8_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities8_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities8_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities8_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 33.858348299999996, -118.0647871:
Extracting results for 41.8089191, -88.01117459999999:
Extracting results for 25.7491968, -80.2635411:
Extracting results for 35.7212689, -77.91553950000001:
Extracting results for 43.0962143, -79.03773879999999:
Extracting results for 32.9628232, -117.0358646:
Extracting results for 44.889686600000005, -93.3499489:
Extracting results for 41.133944899999996, -81.48455849999999:
Extracting results for 33.640171, -117.602832:
Extracting results for 40.273191100000005, -76.88670079999999:
Extracting results for 33.9172357, -118.01200859999999:
Extracting results for 33.816936600000005, -118.0368507:
Extracting results for 43.662938399999994, -116.6873596:
Extracting results for 41.7369803, -111.83383590000001:
Extracting results for 29.3013479, -94.7976958:
Extracting results for 43.750828399999996, -87.71453000000001:
Extracting results for 39.5150576, -84.39827629999999:
Extracting results for 40.6668916, -111.8879909:
Extracting results for 33.3942655, -104.52302420000001:
Extracting results for 39.5186002, -104.76136329999999:
Extracting results for 32.844017, -97.1430671:
Extracting results for 42.7369792, -84.48386540000001:
Extracting results for 42.7262016, -71.19089240000001:
Extracting results for 34.0900091, -117.89033970000001:
Extracting results for 31.3112936, -92.4451371:
Extracting results for 47.0378741, -122.9006951:
Extracting results for 41.5931049, -81.5267873:
Extracting results for 41.6619927, -86.15861559999999:
Extracting results for 38.8402805, -97.6114237:
Extracting results for 34.1336186, -117.90756270000001:
Extracting results for 40.0581205, -82.4012642:
Extracting results for 38.6631083, -90.5770675:
Extracting results for 39.1156615, -77.5636015:
Extracting results for 33.9462125, -84.3346473:
Extracting results for 31.327118900000002, -89.2903392:
Extracting results for 42.4972583, -82.93714090000002:
Extracting results for 26.339806, -81.77869720000001:
Extracting results for 42.20115379999999, -85.5800022:
Extracting results for 35.042035999999996, -89.66452659999999:
Extracting results for 41.562320899999996, -72.6506488:
Extracting results for 36.1156071, -97.0583681:
Extracting results for 39.8386516, -86.0252612:
Extracting results for 43.049457200000006, -88.0075875:
Extracting results for 41.666157299999995, -81.339552:
Extracting results for 37.594720200000005, -120.9568815:
Extracting results for 32.5884689, -96.9561152:
Extracting results for 40.758390000000006, -82.51544709999999:
Extracting results for 47.67346320000001, -116.78122250000001:
Extracting results for 35.2827524, -120.6596156:
Extracting results for 48.23296679999999, -101.2922906:
Extracting results for 33.8302961, -116.54529209999998:
Extracting results for 34.2284312, -92.00319549999999:
Extracting results for 29.383845, -94.9027002:
Extracting results for 33.0185039, -80.17564809999999:
Extracting results for 42.5558381, -114.4700518:
Extracting results for 38.27757020000001, -85.7371847:
Extracting results for 33.783908399999994, -116.95863500000002:
Extracting results for 34.6992579, -86.7483318:
Extracting results for 40.5186809, -78.3947359:
Extracting results for 39.201440399999996, -85.9213796:
Extracting results for 39.7092262, -84.0632685:
Extracting results for 28.6934076, -81.53221490000001:
Extracting results for 41.8994744, -87.9403418:
Extracting results for 33.058106300000006, -112.04764229999999:
Extracting results for 36.7280583, -108.21868559999999:
Extracting results for 42.0778065, -87.8223368:
Extracting results for 41.5200518, -81.556235:
Extracting results for 40.5246711, -111.8638226:
Extracting results for 38.891565, -121.29300790000002:
Extracting results for 31.545500099999998, -110.27728559999998:
Extracting results for 47.0358969, -122.82325530000001:
Extracting results for 30.396031800000003, -88.88530779999999:
Extracting results for 41.3144966, -81.83569:
Extracting results for 33.0151201, -96.53887890000001:
Extracting results for 40.4594021, -74.360846:
Extracting results for 35.487361299999996, -80.62173409999998:
Extracting results for 38.029305900000004, -78.4766781:
Extracting results for 39.613321, -105.0166498:
Extracting results for 28.612218699999996, -80.8075537:
Extracting results for 40.8859325, -74.0434736:
Extracting results for 37.529976500000004, -122.03839679999999:
Extracting results for 42.450084499999996, -73.2453824:
Extracting results for 39.9625984, -76.727745:

In [13]:
#Output data Group 8
output_data_file = "resources/P1_cities_WD_G8.csv"
cities8_df.to_csv(output_data_file, index=False, header=True)

In [14]:
#Data for API Call 10 - Group 9 data
#read in data set with cities, coordinates, and zillow data
cities9_df = pd.read_csv("Resources/cities_group9.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities9_df[f"{mon}_temp"] = ""
    cities9_df[f"{mon}_precip"] = ""
    cities9_df[f"{mon}_humid"] = ""
    cities9_df[f"{mon}_cloud"] = ""

cities9_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Lombard,Illinois,41.880030,-88.007844,71.0,66.0,95.0,97.0,130.0,127.0,...,,,,,,,,,,
1,Attleboro,Massachusetts,41.944544,-71.285608,27.0,26.0,38.0,37.0,48.0,60.0,...,,,,,,,,,,
2,Blacksburg,Virginia,37.229573,-80.413939,16.0,13.0,32.0,35.0,42.0,64.0,...,,,,,,,,,,
3,Dublin,Ohio,40.099229,-83.114077,70.0,58.0,105.0,94.0,123.0,147.0,...,,,,,,,,,,
4,Haltom City,Texas,32.799574,-97.269182,31.0,63.0,57.0,49.0,76.0,58.0,...,,,,,,,,,,

In [15]:
#API Call 10 (6/22/20) - Group 9 data
key = key3
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities9_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities9_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities9_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities9_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities9_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 41.8800296, -88.0078435:
Extracting results for 41.9445441, -71.2856082:
Extracting results for 37.2295733, -80.4139393:
Extracting results for 40.0992294, -83.11407709999999:
Extracting results for 32.799573800000005, -97.2691817:
Extracting results for 34.6391501, -120.4579409:
Extracting results for 32.792, -115.56305139999999:
Extracting results for 37.8215929, -121.9999606:
Extracting results for 38.57670170000001, -92.17351640000001:
Extracting results for 25.5808323, -80.3468593:
Extracting results for 26.1723065, -80.13198929999999:
Extracting results for 25.9331488, -80.1625463:
Extracting results for 40.65760220000001, -73.58318349999999:
Extracting results for 41.5067003, -90.5151342:
Extracting results for 33.6803003, -116.17389399999999:
Extracting results for 27.446705600000005, -80.3256056:
Extracting results for 35.9828412, -86.51860450000001:
Extracting results for 40.8893895, -111.880771:
Extracting results for 43.7730448, -88.44705079999999:
Extracting results for 42.408429999999996, -71.0536625:
Extracting results for 36.585971799999996, -79.3950228:
Extracting results for 32.9341893, -97.229298:
Extracting results for 38.520050399999995, -89.98399350000001:
Extracting results for 33.965291799999996, -118.1514588:
Extracting results for 35.1595182, -84.8766115:
Extracting results for 26.217305, -80.2258811:
Extracting results for 39.345467299999996, -84.56031870000001:
Extracting results for 42.51954, -70.8967155:
Extracting results for 33.7444613, -118.3870173:
Extracting results for 37.6304904, -122.41108349999999:
Extracting results for 43.2081366, -71.5375718:
Extracting results for 44.475882500000004, -73.21207199999999:
Extracting results for 35.732652, -78.85028559999999:
Extracting results for 43.6155825, -84.24721159999999:
Extracting results for 28.6611089, -81.36562420000001:
Extracting results for 38.0608445, -97.9297743:
Extracting results for 42.1662831, -87.9631308:
Extracting results for 41.6266555, -93.71216559999999:
Extracting results for 40.793394899999996, -77.8600012:
Extracting results for 40.1105875, -88.2072697:
Extracting results for 41.632222999999996, -88.2120315:
Extracting results for 38.750948799999996, -77.4752667:
Extracting results for 41.9950276, -88.1856301:
Extracting results for 40.7684342, -74.1454214:
Extracting results for 32.3909071, -110.96648799999998:
Extracting results for 41.04422, -83.6499321:
Extracting results for 38.3396367, -122.70109840000002:
Extracting results for 42.1250929, -72.749538:
Extracting results for 40.6220478, -74.2445902:
Extracting results for 33.9204354, -80.3414693:
Extracting results for 42.0028761, -71.5147839:
Extracting results for 42.5250906, -71.759794:
Extracting results for 41.3164856, -73.0931641:
Extracting results for 33.916475, -117.9002918:
Extracting results for 39.083671200000005, -84.5085536:
Extracting results for 40.521893, -111.9391023:
Extracting results for 37.130501200000005, -121.65439009999999:
Extracting results for 41.237556899999994, -80.81841659999999:
Extracting results for 47.8106521, -122.3773551:
Extracting results for 32.5420821, -97.32084920000001:
Extracting results for 42.5584283, -70.880049:
Extracting results for 44.1635775, -93.99939959999999:
Extracting results for 34.540024200000005, -112.46850249999999:
Extracting results for 37.2871651, -121.9499568:
Extracting results for 42.5348993, -92.4453161:
Extracting results for 33.929460600000006, -116.977248:
Extracting results for 34.0200114, -117.94950829999999:
Extracting results for 42.2411344, -88.3161965:
Extracting results for 42.583422799999994, -71.8022955:
Extracting results for 41.9125286, -88.1347927:
Extracting results for 35.7344538, -81.3444573:
Extracting results for 42.02558270000001, -88.1784085:
Extracting results for 41.5242649, -72.07591049999999:
Extracting results for 32.954568699999996, -97.01500779999999:
Extracting results for 34.0961111, -118.10583329999999:
Extracting results for 42.2042586, -72.61620090000001:
Extracting results for 36.372853799999994, -94.2088172:
Extracting results for 34.79981, -87.677251:
Extracting results for 33.9698809, -84.22147059999999:
Extracting results for 36.0331164, -86.7827772:
Extracting results for 45.676997899999996, -111.04293390000001:
Extracting results for 42.9764027, -88.10842240000001:
Extracting results for 30.723526300000003, -95.55077709999999:
Extracting results for 34.6100243, -112.315721:

In [16]:
#Output data Group 9
output_data_file = "resources/P1_cities_WD_G9.csv"
cities9_df.to_csv(output_data_file, index=False, header=True)

In [17]:
#Data for API Call 11 - Group 10 data
#read in data set with cities, coordinates, and zillow data
cities10_df = pd.read_csv("Resources/cities_group10.csv")

#Set up data frame with additional columns
LOM = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for mon in LOM:
    cities10_df[f"{mon}_temp"] = ""
    cities10_df[f"{mon}_precip"] = ""
    cities10_df[f"{mon}_humid"] = ""
    cities10_df[f"{mon}_cloud"] = ""

cities10_df.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,Maplewood,Minnesota,44.953022,-92.995215,44.0,41.0,46.0,59.0,65.0,71.0,...,,,,,,,,,,
1,Romeoville,Illinois,41.647531,-88.089506,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
2,Duncanville,Texas,32.651800,-96.908337,40.0,38.0,48.0,45.0,62.0,53.0,...,,,,,,,,,,
3,Clovis,New Mexico,34.404799,-103.205227,41.0,37.0,50.0,45.0,64.0,66.0,...,,,,,,,,,,
4,The Colony,Texas,33.080608,-96.892831,58.0,49.0,71.0,66.0,83.0,92.0,...,,,,,,,,,,

In [18]:
#API Call 11 (6/22/20) - Group 10 data
key = key3
    
#Weather API call
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/historysummary?aggregateHours=24&minYear=2017&maxYear=2019&chronoUnit=months&breakBy=self&dailySummaries=false&contentType=json&unitGroup=us&locationMode=lookup&key='

for index, row in cities10_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    query_url = base_url + key + "&locations=" + str(latitude) + "%2C%20" + str(longitude)
    
    response = requests.get(query_url).json()
    
    try:
        
        print(f"Extracting results for {latitude}, {longitude}:")
    
        for x in range(0, 12):
    
            month = response["locations"][f"{latitude}, {longitude}"]["values"][x]["period"]
    
            cities10_df.loc[index, f"{month}_temp"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["temp"]
            cities10_df.loc[index, f"{month}_precip"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["precip"]
            cities10_df.loc[index, f"{month}_humid"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["humidity"]
            cities10_df.loc[index, f"{month}_cloud"] = response["locations"][f"{latitude}, {longitude}"]["values"][x]["cloudcover"]
    
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Extracting results for 44.953021500000006, -92.9952153:
Extracting results for 41.6475306, -88.0895061:
Extracting results for 32.6518004, -96.9083366:
Extracting results for 34.4047987, -103.2052272:
Extracting results for 33.0806083, -96.8928309:
Extracting results for 34.021122399999996, -118.3964665:
Extracting results for 42.3459271, -71.55228740000001:
Extracting results for 32.216316, -80.752608:
Extracting results for 46.8737648, -96.7678039:
Extracting results for 35.1359386, -114.5285981:
Extracting results for 35.08675770000001, -89.8100858:
Extracting results for 33.663357299999994, -116.31000949999999:
Extracting results for 39.71367539999999, -82.59932940000002:
Extracting results for 33.635661799999994, -96.60888050000001:
Extracting results for 28.569167699999998, -81.5439619:
Extracting results for 44.79739620000001, -93.5272861:
Extracting results for 42.479261799999996, -71.1522765:
Extracting results for 47.565006700000005, -122.6269768:
Extracting results for 41.5094771, -90.57874759999999:
Extracting results for 37.3058839, -89.51814759999999:
Extracting results for 38.9784453, -76.4921829:
Extracting results for 26.6276276, -80.1353896:
Extracting results for 29.285812899999996, -81.05588940000001:
Extracting results for 47.1853785, -122.29289740000002:
Extracting results for 37.613825299999995, -122.48691940000002:
Extracting results for 32.82346210000001, -97.1705678:
Extracting results for 40.742551, -84.1052256:
Extracting results for 37.9974219, -121.71245359999999:
Extracting results for 39.843947, -84.1246608:
Extracting results for 32.5920798, -96.7561082:
Extracting results for 34.0775104, -117.68977759999999:
Extracting results for 43.0605671, -88.1064787:
Extracting results for 42.011141200000004, -87.8406192:
Extracting results for 34.1954331, -79.7625625:
Extracting results for 41.1616108, -112.02633130000001:
Extracting results for 42.3917638, -71.03282840000001:
Extracting results for 40.664269899999994, -73.7084645:
Extracting results for 34.949567200000004, -81.93204820000001:
Extracting results for 45.415734, -122.7163273:
Extracting results for 29.529399800000004, -95.20104470000001:
Extracting results for 40.1266689, -82.93188070000001:
Extracting results for 39.8961821, -104.98114679999999:
Extracting results for 32.4709761, -85.0007653:
Extracting results for 39.881451899999995, -83.09296440000001:
Extracting results for 33.425125, -94.0476882:
Extracting results for 41.931696, -87.9889556:
Extracting results for 42.250594299999996, -83.17853609999999:
Extracting results for 43.234181299999996, -86.2483921:
Extracting results for 25.9564812, -80.1392121:
Extracting results for 42.9614039, -88.0125865:
Extracting results for 33.4150485, -111.5495777:
Extracting results for 34.14426160000001, -118.0019482:
Extracting results for 40.114955, -111.654923:
Extracting results for 42.5083482, -89.0317765:
Extracting results for 30.158812899999997, -85.6602058:

In [19]:
#Output data Group 10
output_data_file = "resources/P1_cities_WD_G10.csv"
cities10_df.to_csv(output_data_file, index=False, header=True)